<p>Are you sure that you want to delete "<?php echo $this->escapeHtml($post['title']); ?>"? </p>
<?php
$url = $this->url('blog', array(
    'action' => 'delete',
    'id'     => $post['id'],
));
?>
<form action="<?php echo $url; ?>" method="post">
    <div>
        <input type="hidden" name="id" value="<?php echo (int) $post['id']; ?>" />
        <input type="submit" name="del" value="Yes" />
        <input type="submit" name="del" value="No" />
    </div>
</form>